.section-register {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.container {
    width: 100%;

    @include respond-to('medium') {
        width: auto;
    }
}

.title {
    margin-bottom: rem(16px, 'small');

    font-weight: 800;
    font-size: rem(32px, 'small');
    line-height: rem(43px, 'small');
    text-align: center;

    @include respond-to('medium') {
        margin-bottom: rem(16px, 'medium');

        font-size: rem(32px, 'medium');
        line-height: rem(43px, 'medium');
    }
    
    @include respond-to('large') {
        margin-bottom: rem(16px, 'large');

        font-size: rem(32px, 'large');
        line-height: rem(43px, 'large');
    }
}

.button-container {
    text-align: center;
}

.separator {
    width: 100%;
    
    margin-top: rem(20px, 'small');
    margin-bottom: rem(15px, 'small');

    border-bottom: solid 1px $color-text;

    @include respond-to('medium') {
        margin-top: rem(20px, 'medium');
        margin-bottom: rem(15px, 'medium');   
    }
    
    @include respond-to('large') {
        margin-top: rem(20px, 'large');
        margin-bottom: rem(15px, 'large');
    }
}