.game-card {
    width: 300px;
    height: 200px;

    margin-bottom: 24px;

    padding: 1em;

    background-color: grey;

    border-radius: 10px;
    box-sizing: border-box;

    transition: scale 0.25s;

    cursor: pointer;
}

.isEmpty {
    background-color: transparent;
    border: 1px dashed darkgray;

}


