.my-games {
    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    margin-top: 1rem;
    flex-direction: row;

    @include respond-to('small') {
        flex-direction: column;
    }
    @include respond-to('medium') {
        flex-direction: row;
    }
}

.filter-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: rem(280px, large);
    height: 100%;
    padding-top: inherit;
}

.page-title {
    font-family: $darker, sans-serif;
    font-weight: 800;
    font-size: rem(48px, large);
    color: $black;

    @include respond-to('small') {
        margin-bottom: rem(40px, small);

        font-size: rem(48px, small);
    }
    @include respond-to('medium') {
        margin-bottom: rem(40px, medium);

        font-size: rem(48px, medium);
    }
    @include respond-to('large') {
        margin-bottom: rem(80px, large);

        font-size: rem(48px, large);
    }
}

.add-game-button {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;

    color: $white;

    background-color: $purple;
    flex-direction: row;
}

fieldset {
    display: flex;

    justify-content: space-between;

    margin-bottom: rem(40px, small);

    font-family: $darker, sans-serif
}
