html, body {
    //padding-left: rem(10px, 'large');

    font-family: $font-primary, Arial, Helvetica, sans-serif;

    font-size: base-font-size('small');

    @include respond-to('medium') {
        font-size: base-font-size('medium');
    }

    @include respond-to('large') {
        font-size: base-font-size('large');
    }

    * {
        box-sizing: border-box;

        @include unselectable();
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid $purple;

        -webkit-box-shadow: 0 0 0px 1000px $white inset;

        transition: background-color 5000s ease-in-out 0s;
    }

    input:focus,
    textarea:focus,
    select:focus {
        border: 1px solid $purple;
        outline: none;
    }
}

html,body, #__nuxt, #__layout{
    width: 100%!important;
    height:100%!important;
}

.desktop-only {
    @include respond-to('small') {
        display: none!important;
    }

    @include respond-to('medium'){
        display: block!important;
    }
}

.mobile-only {
    @include respond-to('medium'){
        display: none!important;
    }
}
