@mixin font-face($font-family, $weight, $style, $url) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('/#{$url}.eot');
        src: url('/#{$url}.eot?#iefix') format('embedded-opentype'),
             url('/#{$url}.woff2') format('woff2'),
		     url('/#{$url}.woff') format('woff'),
		     url('/#{$url}.ttf') format('truetype'),
		     url('/#{$url}.svg') format('svg');
		font-weight: normal;
        font-style: normal;
        font-display: swap;

        font-weight: $weight;
        -webkit-font-smoothing: antialiased;
        -khtml-font-smoothing: antialiased;
        -apple-font-smoothing: antialiased;
        font-smooth: always;
        -moz-osx-font-smoothing: grayscale;
	}
}

// Darker Grotesque - Edited for better vertical align
@include font-face('Darker Grotesque', 500, 'normal', 'fonts/DarkerGrotesque-Regular-edited');
@include font-face('Darker Grotesque', 600, 'normal', 'fonts/DarkerGrotesque-Medium-edited');
@include font-face('Darker Grotesque', 700, 'normal', 'fonts/DarkerGrotesque-SemiBold-edited');
@include font-face('Darker Grotesque', 800, 'normal', 'fonts/DarkerGrotesque-Bold-edited');

// @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;700&display=swap');