.section-title {
    font-family: $darker;
    font-weight: 800;

    @include respond-to('small') {
        margin-bottom: rem(20px, small);

        font-size: rem(32px, small);
    }

    @include respond-to('medium') {
        margin-bottom: rem(30px, medium);

        font-size: rem(32px, medium);
    }

    @include respond-to('large') {
        margin-bottom: rem(30px, large);

        font-size: rem(32px, large);
    }
}

.page-title {
    font-family: $darker, sans-serif;
    font-weight: 800;
    color: $black;

    @include respond-to('small') {
        margin-bottom: rem(20px, small);

        font-size: rem(48px, small);
    }
    @include respond-to('medium') {
        margin-bottom: rem(30px, medium);

        font-size: rem(48px, medium);
    }
    @include respond-to('large') {
        margin-bottom: rem(30px, large);

        font-size: rem(48px, large);
    }
}

.big-title {
    font-family: $darker;
    font-weight: 800;
    @include respond-to('small') {
        margin-bottom: rem(20px, small);

        font-size: rem(70px, small);
    }

    @include respond-to('medium') {
        margin-bottom: rem(30px, medium);

        font-size: rem(80px, medium);
    }

    @include respond-to('large') {
        margin-bottom: rem(30px, large);

        font-size: rem(80px, large);
    }
}

.text {
    font-family: $darker;
    font-weight: 400;

    @include respond-to('small') {
        margin-bottom: rem(20px, small);

        font-size: rem(16px, small);
        line-height: rem(22px, small);
    }

    @include respond-to('medium') {
        margin-bottom: rem(30px, medium);


        font-size: rem(16px, medium);
        line-height: rem(22px, medium);
    }

    @include respond-to('large') {
        margin-bottom: rem(30px, large);

        font-size: rem(16px, large);
        line-height: rem(22px, large);
    }
}
