.page-home {
    overflow: hidden;
}

h1 {
    margin-bottom: 40px;

    font-size: 50px;
}

.delete-form, .update-form {
    margin-top: 2rem;
}

.section-one {
    height: 100vh;
    background-color: $color-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @include respond-to('small') {
    gap: rem(50px, small);
    }
    @include respond-to('medium') {
    gap: rem(70px, medium);
    }

    @include respond-to('large') {
    gap: rem(70px, large);
    }

    .main-logo {
        width: 60%;
        height: auto;
        z-index: 3;
    }

    .shapes-container {
        position: absolute;
        width: 100%;
        height: 100%;

        .purple {
            position: absolute;
            bottom: 10%;
            left: -5%;
        }

        .purple-small {
            position: absolute;
            z-index: 2;
            bottom: 10%;
            right: 15%;
        }

        .red {
            position: absolute;
            z-index: 0;
            width: 50%;
            top: -10%;
            right: -5%;
        }

        .red-small {
            position: absolute;
            top: 7%;
            left: 10%;
        }

        .yellow {
            position: absolute;
            width: 30%;
            bottom: -5%;
            right: -5%;
        }

        .yellow-small {
            position: absolute;
            top: 15%;
            left: 10%;
        }
    }

    .tagline {
        font-family: $darker;
        color: $white;
        width: 30%;
        z-index: 5;
        text-align: center;

        @include respond-to('small') {
            font-size: rem(20px, small);
            width: 80%;
        }

        @include respond-to('medium') {
            font-size: rem(38x, medium);
        }

        @include respond-to('large') {
            font-size: rem(38x, large);
            width: 30%;
        }
    }
}
