.nuxt-link {
    height: auto;

    color: white;

    text-decoration: none;

    background-color: black;
}

.button {
    display: flex;
    align-items: baseline;
}

.icon {
    @include respond-to('small') {
        height: rem(10px, small);
        margin-right: rem(10px, small);
    }

    @include respond-to('medium') {
        height: rem(15px, medium);
        margin-right: rem(10px, medium);
    }

    @include respond-to('large') {
        height: rem(15px, large);
        margin-right: rem(10px, large);
    }
}

