.default {
    color: $color-text;
}

.content {
    margin: 0 auto;

    padding-top: rem(90px, large);

    @include respond-to('small'){
        padding: rem(75px, small) 20px 20px;
    }

    @include respond-to('medium'){
        padding: rem(100px, medium) 0 0;
    }

    @include respond-to('large'){
        max-width: rem(1200px, large);

        padding: rem(100px, large) 0 0;
    }


}

.template {
    //margin-top: rem(30px, large);

}

.demo-text {
    width: 100%;



    margin-top: rem(100px, 'small');

    font-size: rem(40px, 'small');
    text-align: center;
    text-transform: uppercase;

    @include respond-to('medium') {
        margin-top: rem(100px, 'medium');

        font-size: rem(30px, 'medium');
    }

    @include respond-to('large') {
        margin-top: rem(100px, 'large');

        font-size: rem(30px, 'large');
    }
}



